@model MTRS.Core.DTOs.DepartmentDto

@{
    ViewData["Title"] = "Edit Department";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item"> <a href="/admin/departments">Departments</a></li>
                    <li class="breadcrumb-item active">New</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">New Department</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name<span style="color:red;">*</span></label>
                                <div class="input-group">
                                    <input type="text" asp-for="Name" class="form-control" data-mask>
                                </div>
                                <div class="row" style="margin-left: 3px;">
                                    <span asp-validation-for="Name" style="color:red;"></span>
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label>Manager<span style="color:red;">*</span></label>
                                <div class="input-group">
                                    @Html.DropDownListFor(m => m.ManagerId, new SelectList(ViewBag.Managers, "Id", "FirstName"), "-- Select --", new { @id = "ddlManagers", @class = "form-control select2bs4" })
                                </div>
                                <div class="row" style="margin-left: 3px;">
                                    <span asp-validation-for="ManagerId" style="color:red;"></span>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" style="width:80px;margin-top:20px;">Save</button>
                        </div>
                        <!-- /.col -->
                    </div>

                    <!-- /.row -->
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Select2 -->
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Bootstrap4 Duallistbox -->

<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlManagers").select2({
            allowClear: true
        });
    });
</script>

<style>
    .select2-selection.select2-selection--single {
        height: 38px !important;
    }
</style>