
@model MTRS.Core.DTOs.ActivityDto


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">General Activities</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div id="tablePanel">
            <div class="row" style="margin-left: 2px;">
                <div>
                    <button type="button" onclick="newActivity();" class="btn btn-primary btn-block" style="margin-right:20px;margin-top:20px; margin-bottom:20px; width: 140px;">New Activity</button>
                </div>
                <!-- /.col -->
            </div>
            <div class="row" style="background-color: white; margin-left: 2px;">
                <table id="myDataTable" class="display" style="width:98%;margin: 10px 10px 10px 10px;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<script src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#myDataTable').DataTable();
        table.destroy();

        $('#myDataTable').dataTable({
            ajax: {
                url: '/admin/GetGeneralActivities',
                dataSrc: ''
            },
            columns: [
                { data: 'id' },
                { data: 'name' },
                {
                    data: null,
                    className: "dt-center editor-edit",
                    defaultContent: '<i class="fas fa-edit" style="color:#0062cc;cursor: pointer;"></i>',
                    orderable: false
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
        });
    });

    function newActivity() {
        window.location = '/admin/AddGeneralActivity/'
    };

    $(document).ready(function () {
        $('body').on('click', '.fa-edit', function () {
            var currentRow = $(this).closest("tr");

            var data = $('#myDataTable').DataTable().row(currentRow).data();
            window.location = '/admin/EditGeneralActivity/' + data['id'];
        });
    });

</script>
<style>
    .dataTables_wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .dataTables_length {
        margin-top: 20px;
        margin-left: 10px;
    }

    .dataTables_filter {
        margin-top: 20px;
        margin-right: 20px;
    }

    .dataTables_info {
        margin-left: 10px;
    }
</style>