@{
    ViewData["Title"] = "Home Page";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div id="containerDash" class="container" style="display:none;">

            <div id="projDashboard" class="row">
                <div class="col-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="far fa-calendar-plus"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Pending Timesheets</span>
                            <span id="sPendingTimesheets" class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="far fa-calendar-alt"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Pending Approvals</span>
                            <span id="sPendingApprovals" class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning"><i style="color:white;" class="fas fa-list-alt"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">My Projects</span>
                            <span id="sProjects" class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                @*<div class="col-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="far fa-calendar-plus"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Current Month Hours</span>
                            <span id="sLoggedHours" class="info-box-number"></span>
                        </div>
                    </div>
                </div>*@
                <!-- /.col -->
            </div>
        </div>

    </div>
</section>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!-- Select2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/flatly/bootstrap.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<link rel="stylesheet" href="http://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css">
<script src="http://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        //get project projDashboard
        xdialog.startSpin();
        $.ajax({
            type: "GET",
            url: "/home/GetDashboard",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#sPendingTimesheets").text(data.pendingTimesheets);
                $("#sPendingApprovals").text(data.pendingApprovals);
                $('#sProjects').text(data.myProjects)
                $("#containerDash").attr('style', 'display:block;');
                xdialog.stopSpin();
            },
            failure: function (response) {
                console.log(response);
                xdialog.stopSpin();
            }
        });

    });
</script>