<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a style="color:black;" href="/timesheet/mytimesheets">My Timesheets</a></li>
                    <li class="breadcrumb-item active">Submit Timesheet</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Manage Timesheet</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <select id="ddlTimeSheets" onchange="ddlSheetChange(this);" class="form-control select2bs4">
                                </select>
                            </div>
                            <div class="row" style="margin-left: 3px;margin-top:10px;font-weight:bold;">
                                <span id="spNoTimesheet" class="alert alert-danger" style="display:none;">There are no pending timesheets.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div id="timesheetDetails">
                        </div>
                    </div>
                </div>
                <div id="timeSheetTable">
                    <div class="row" style="background-color: darkseagreen;margin-top: 20px;margin-bottom:20px;">
                        <div class="col-md-2">
                            <div class="input-group">
                                <label style="margin-top:10px;">Project</label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <div class="input-group">
                                <label style="margin-top:10px;margin-left: 72px;">Activity</label>
                            </div>
                        </div>
                        <div style="position: absolute;margin-left: 50%;">
                            <div class="row" style=" width: 700px;">
                                <div class="time-cell">

                                </div>
                                <div class="time-cell">
                                    <div class="input-group">
                                        <label>Sun</label>
                                    </div>
                                </div>
                                <div class="time-cell">
                                    <div class="input-group">
                                        <label>Mon</label>
                                    </div>
                                </div>
                                <div class="time-cell">
                                    <div class="input-group">
                                        <label>Tu</label>
                                    </div>
                                </div>
                                <div class="time-cell">
                                    <div class="input-group">
                                        <label>We</label>
                                    </div>
                                </div>
                                <div class="time-cell">
                                    <div class="input-group">
                                        <label>Th</label>
                                    </div>
                                </div>
                                <div class="time-cell" style="display:none;">
                                    <div class="input-group">
                                        <label>Fri</label>
                                    </div>
                                </div>
                                <div class="time-cell" style="display:none;">
                                    <div class="input-group">
                                        <label>Sat</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tsContainer"></div>
                    <!-- footer -->
                    <div class="row" style="background-color: darkseagreen;">
                        <div class="col-2">
                            <button type="submit" onclick="addRow(true);" class="btn btn-block" style="color:white; background: forestgreen; width: 160px; margin-top: 10px;"> + Project Activity</button>
                        </div>
                        <div class="col-2">
                            <button type="submit" onclick="addRow(false);" class="btn btn-block" style="color:white; background: forestgreen; width: 160px; margin-top: 10px;"> + General Activity</button>
                        </div>
                        <div class="time-cell-total" style="font-weight:bold; width: 90px; padding-top: 8px; margin-left: 14%;">
                            Total Hours
                        </div>
                        <div class="time-cell-total">
                            <div class="input-group">
                                <input readonly type="text" class="form-control sunTotal" data-mask>
                            </div>
                        </div>
                        <div class="time-cell-total">
                            <div class="input-group">
                                <input readonly type="text" class="form-control monTotal" data-mask>
                            </div>
                        </div>
                        <div class="time-cell-total">
                            <div class="input-group">
                                <input readonly type="text" class="form-control tuTotal" data-mask>
                            </div>
                        </div>
                        <div class="time-cell-total">
                            <div class="input-group">
                                <input readonly type="text" class="form-control weTotal" data-mask>
                            </div>
                        </div>
                        <div class="time-cell-total">
                            <div class="input-group">
                                <input readonly type="text" class="form-control thTotal" data-mask>
                            </div>
                        </div>
                        <div class="time-cell-total" style="display:none;">
                            <div class="input-group">
                                <input readonly type="text" class="form-control friTotal" data-mask>
                            </div>
                        </div>
                        <div class="time-cell-total" style="display:none;">
                            <div class="input-group">
                                <input readonly type="text" class="form-control satTotal" data-mask>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <button onclick="saveTimeSheet(1);" type="submit" class="btn btn-primary btn-block" style="width:80px;margin-top:20px;">Save</button>
                        </div>
                        <div class="col-1">
                            <button onclick="saveTimeSheet(2);" type="submit" class="btn btn-primary btn-block" style="width:80px;margin-top:20px;">Submit</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/flatly/bootstrap.min.css">
<script src="/plugins/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css">
<script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        loadSheets();
    });

    function loadSheets() {
        xdialog.startSpin();
        $.ajax({
            type: "GET",
            url: "/timesheet/GetNewByUser",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    $.each(data, function () {
                        var fromDate = new Date(this.fromDate);
                        var toDate = new Date(this.toDate);

                        var text = "From " + fromDate.formatMMDDYYYY() + " To " + toDate.formatMMDDYYYY();
                        $('#ddlTimeSheets').append($("<option></option>").val(this.id).html(text));
                    });

                    if (getParameterByName('id') != null) {
                        $('#ddlTimeSheets').val(getParameterByName('id'));
                    }

                    ddlSheetChange($('#ddlTimeSheets'));
                    xdialog.stopSpin();
                }
                else {
                    $('#timeSheetTable').attr('style', 'display:none;');
                    $('#spNoTimesheet').attr('style', 'display:block;');
                    $('#timesheetDetails').attr('style', 'display:none;');
                    xdialog.stopSpin();
                }
            },
            failure: function (response) {
                xdialog.stopSpin();
                console.log(response);
            }
        });
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function ddlSheetChange(ddlSheets) {
        xdialog.startSpin();
        $.ajax({
            type: "GET",
            url: "/timesheet/GetDetailsByTimeSheetId?timesheetId=" + $(ddlSheets).val(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#tsContainer').html('');
                var rowId = 1;
                $.each(data, function () {
                    fillSheetRow(this, rowId);
                    rowId += 1;
                });
                totalHours();
                xdialog.stopSpin();
                if (data.length > 0) {
                    $.ajax({
                        type: "GET",
                        url: "/timesheet/GetApprovalTimeLine?timesheetId=" + $(ddlSheets).val(),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'html',
                        success: function (data) {
                            $('#timesheetDetails').html(data);
                            xdialog.stopSpin();
                        }
                    });
                }
            },
            failure: function (response) {
                xdialog.stopSpin();
                console.log(response);
            }
        });

    }

    function ddlActivityChange(ddlActivity) {
        var selectedText = $("#" + ddlActivity.id + " option:selected").text();
        var number = ddlActivity.id.charAt(ddlActivity.id.length - 1);
        if (selectedText.toLowerCase() == 'sales' || selectedText.toLowerCase() == 'presales') {
            $('#txtOpportunityId' + number).attr("style", "display:block;margin-left:30px;width:222px;margin-bottom: 14px;");
            $('#txtOpportunityId' + number).on('change', function () { validateOpportunity(this); });
        }
        else {
            $('#txtOpportunityId' + number).attr("style", "display:none;margin-left:30px;width:222px;margin-bottom: 14px;");
        }
    }

    function validateOpportunity(txtOppotunity) {
        $.ajax({
            type: "GET",
            url: "/timesheet/IsOpenOpportunity?opportunityId=" + $(txtOppotunity).val(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data.toString() == 'false') {
                    xdialog.open({
                        title: 'Validation error',
                        body: 'this opportunity is not valid, please add valid opportunity',
                        buttons: ['ok'],
                        style: 'min-width:38em;',
                        onok: function (param) {
                            $(txtOppotunity).val('');
                        }
                    });
                }
            },
            failure: function (response) {
                console.log(response);
            }
        });
    }

    function addRow(isProject) {
        var content = '<div id="row1" class="row tsRow" style="margin-bottom:36px"><div class="row" style="width:55%;margin-left:1px;margin-top:8px;"><div class="col-md-5"><div class="form-group"><div class="input-group" style="padding-top:6px"><select id="ddlPro1" onchange="ddlProjChange(this)" class="form-control select2bs4"><option>-- Select --</option></select></div></div></div><div class="col-md-5"><div class="form-group"><div class="input-group" style="padding-top:6px"><select id="ddlAct1" onchange="ddlActivityChange(this);" class="form-control select2bs4"><option>-- Select --</option></select></div></div></div><div class="row"><input id="txtOpportunityId1" class="form-control opportunity" placeholder="Opportunity Id" style="display:none;margin-left:30px;width:300px;"><input id="txtComment1" class="form-control" placeholder="Comment" style="margin-left:30px;width:478px;"></div></div><div style="position:absolute;margin-left:50%"><div class="row ST"><div class="time-cell" style="padding-top:8px">ST</div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control sun" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control mon" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control tu" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control we" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control th" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control fri" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control sat" data-mask></div></div></div><div class="row OT"><div class="time-cell" style="padding-top:8px">OT</div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control sun" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control mon" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control tu" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control we" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control th" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control fri" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control sat" data-mask></div></div></div></div><div style="position:absolute;margin-left:96%;margin-top:44px"><i class="fas fa-trash" style="color:red;cursor:pointer" onclick="deleteRow(this)"></i></div></div>';
        if ($('#tsContainer').html() == '') {
            $(content).appendTo($('#tsContainer'));

            $('#row1 .ST .input-group').each(function () {
                $(this).find('input').val("0");
            });
            $('#row1 .OT .input-group').each(function () {
                $(this).find('input').val("0");
            });

            $('.ST input').on('change', function () { totalHours(); });
            $('.OT input').on('change', function () { totalHours(); });
            $('.OT .input-group').each(function () {
                $(this).find('input').prop("readonly", true);
                $(this).find('input').prop("disabled", true);
            });
            $('.row .OT').attr('style', 'display: none;');

            $('.ST .input-group .fri').each(function () {
                $(this).prop("readonly", true);
                $(this).prop("disabled", true);
                $(this).attr("style", "display:none;");

            });
            $('.ST .input-group .sat').each(function () {
                $(this).prop("readonly", true);
                $(this).prop("disabled", true);
                $(this).attr("style", "display:none;");

            });

            getProjects("ddlPro1", isProject);
        }
        else {
            var rowCount = $('.tsRow').length + 1;
            content = content.replace("row1", "row" + rowCount);
            content = content.replace("ddlPro1", "ddlPro" + rowCount);
            content = content.replace("ddlAct1", "ddlAct" + rowCount);
            content = content.replace("txtComment1", "txtComment" + rowCount);
            content = content.replace("txtOpportunityId1", "txtOpportunityId" + rowCount);

            content = '<hr class="seper"/>' + content;

            $(content).appendTo($('#tsContainer'));

            $('#row' + rowCount + ' .ST .input-group').each(function () {
                $(this).find('input').val("0");
            });
            $('#row' + rowCount + ' .OT .input-group').each(function () {
                $(this).find('input').val("0");
            });

            $('.ST input').on('change', function () { totalHours(); });
            $('.OT input').on('change', function () { totalHours(); });
            $('.OT .input-group').each(function () {
                $(this).find('input').prop("readonly", true);
                $(this).find('input').prop("disabled", true);
            });
            $('.row .OT').attr('style', 'display: none;');
            $('.ST .input-group .fri').each(function () {
                $(this).prop("readonly", true);
                $(this).prop("disabled", true);
                $(this).attr("style", "display:none;");

            });
            $('.ST .input-group .sat').each(function () {
                $(this).prop("readonly", true);
                $(this).prop("disabled", true);
                $(this).attr("style", "display:none;");
            });
            getProjects("ddlPro" + rowCount, isProject);
        }

        totalHours();
    }

    function fillSheetRow(timesheetRow, rowId) {

        var content = '<div id="row1" class="row tsRow" style="margin-bottom:36px"><div class="row" style="width:55%;margin-left:1px;margin-top:8px;"><div class="col-md-5"><div class="form-group"><div class="input-group" style="padding-top:6px"><select id="ddlPro1" onchange="ddlProjChange(this)" class="form-control select2bs4"><option>-- Select --</option></select></div></div></div><div class="col-md-5"><div class="form-group"><div class="input-group" style="padding-top:6px"><select id="ddlAct1" onchange="ddlActivityChange(this);" class="form-control select2bs4"><option>-- Select --</option></select></div></div></div><div class="row"><input id="txtOpportunityId1" class="form-control opportunity" placeholder="Opportunity Id" style="display:none;margin-left:30px;width:300px;"><input id="txtComment1" class="form-control" placeholder="Comment" style="margin-left:30px;width:478px;"></div></div><div style="position:absolute;margin-left:50%"><div class="row ST"><div class="time-cell" style="padding-top:8px">ST</div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control sun" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control mon" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control tu" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control we" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control th" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control fri" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control sat" data-mask></div></div></div><div class="row OT"><div class="time-cell" style="padding-top:8px">OT</div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control sun" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control mon" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control tu" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control we" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control th" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control fri" data-mask></div></div><div class="time-cell"><div class="input-group"><input maxlength="1"  onkeypress="return validateHours(event);" class="form-control sat" data-mask></div></div></div></div><div style="position:absolute;margin-left:96%;margin-top:44px"><i class="fas fa-trash" style="color:red;cursor:pointer" onclick="deleteRow(this)"></i></div></div>';
        content = content.replace("row1", "row" + rowId);
        content = content.replace("ddlPro1", "ddlPro" + rowId);
        content = content.replace("ddlAct1", "ddlAct" + rowId);
        content = content.replace("txtComment1", "txtComment" + rowId);
        content = content.replace("txtOpportunityId1", "txtOpportunityId" + rowId);

        if (rowId != 1) {
            content = '<hr class="seper"/>' + content;
        }

        $(content).appendTo($('#tsContainer'));

        if (timesheetRow.activity.type == 2) {
            var projList = $('#ddlPro' + rowId);

            $.ajax({
                type: "GET",
                url: "/project/GetUserProjectWithActivity",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    projList.attr('isPro', 'true');
                    projList.empty();
                    $.each(data, function () {
                        projList.append($("<option></option>").val(this.id).html(this.name));
                    });
                    projList.val(timesheetRow.activity.projectId);
                    $.ajax({
                        type: "GET",
                        url: "/activity/GetUserActivities?projectId=" + projList.val(),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            $("#ddlAct" + rowId).empty();
                            $.each(data, function () {
                                $("#ddlAct" + rowId).append($("<option></option>").val(this.id).html(this.name));
                            });
                            $('#ddlAct' + rowId).val(timesheetRow.activityId);
                        },
                        failure: function (response) {
                            console.log(response);
                        }
                    });
                },
                failure: function (response) {
                    console.log(response);
                }
            });

        }
        else {
            var projList = $('#ddlPro' + rowId);
            projList.attr('isPro', 'false');
            projList.empty();
            projList.append($("<option></option>").val('General').html('General Activities'));

            $.ajax({
                type: "GET",
                url: "/Activity/GetGeneral",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#ddlAct" + rowId).empty();
                    $.each(data, function () {
                        $('#ddlAct' + rowId).append($("<option></option>").val(this.id).html(this.name));
                    });
                    $('#ddlAct' + rowId).val(timesheetRow.activityId);
                },
                failure: function (response) {
                    console.log(response);
                }
            });
        }

        $('#txtComment' + rowId).val(timesheetRow.comments);

        $('#row' + rowId + ' .ST .sun')[0].value = timesheetRow.sun == undefined ? "0" : timesheetRow.sun;
        $('#row' + rowId + ' .ST .mon')[0].value = timesheetRow.mon == undefined ? "0" : timesheetRow.mon;
        $('#row' + rowId + ' .ST .tu')[0].value = timesheetRow.tu == undefined ? "0" : timesheetRow.tu;
        $('#row' + rowId + ' .ST .we')[0].value = timesheetRow.we == undefined ? "0" : timesheetRow.we;
        $('#row' + rowId + ' .ST .th')[0].value = timesheetRow.th == undefined ? "0" : timesheetRow.th;
        $('#row' + rowId + ' .ST .fri')[0].value = timesheetRow.fri == undefined ? "0" : timesheetRow.fri;
        $('#row' + rowId + ' .ST .sat')[0].value = timesheetRow.sat == undefined ? "0" : timesheetRow.sat;


        $('#row' + rowId + ' .OT .sun')[0].value = timesheetRow.sunOver == undefined ? "0" : timesheetRow.sunOver;
        $('#row' + rowId + ' .OT .mon')[0].value = timesheetRow.monOver == undefined ? "0" : timesheetRow.monOver;
        $('#row' + rowId + ' .OT .tu')[0].value = timesheetRow.tuOver == undefined ? "0" : timesheetRow.tuOver;
        $('#row' + rowId + ' .OT .we')[0].value = timesheetRow.weOver == undefined ? "0" : timesheetRow.weOver;
        $('#row' + rowId + ' .OT .th')[0].value = timesheetRow.thOver == undefined ? "0" : timesheetRow.thOver;
        $('#row' + rowId + ' .OT .fri')[0].value = timesheetRow.friOver == undefined ? "0" : timesheetRow.friOver;
        $('#row' + rowId + ' .OT .sat')[0].value = timesheetRow.satOver == undefined ? "0" : timesheetRow.satOver;

        $('.ST input').on('change', function () { totalHours(); });
        $('.OT input').on('change', function () { totalHours(); });

        $('.OT .input-group').each(function () {
            $(this).find('input').prop("readonly", true);
            $(this).find('input').prop("disabled", true);
        });
        $('.row .OT').attr('style', 'display: none;');

        $('.ST .input-group .fri').each(function () {
            $(this).prop("readonly", true);
            $(this).prop("disabled", true);
            $(this).attr("style", "display:none;");

        });
        $('.ST .input-group .sat').each(function () {
            $(this).prop("readonly", true);
            $(this).prop("disabled", true);
            $(this).attr("style", "display:none;");

        });
    }

    function getProjects(ddlProj, isProject) {

        if (isProject) {
            var projList = $('#' + ddlProj);

            $.ajax({
                type: "GET",
                url: "/project/GetUserProjectWithActivity",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    projList.attr('isPro', 'true');
                    projList.empty();
                    $.each(data, function () {
                        projList.append($("<option></option>").val(this.id).html(this.name));
                    });
                    ddlProjChange($('#' + ddlProj)[0]);
                },
                failure: function (response) {
                    console.log(response);
                }
            });

        }
        else {
            var projList = $('#' + ddlProj);
            projList.attr('isPro', 'false');
            projList.empty();
            projList.append($("<option></option>").val('General').html('General Activities'));

            var rowNumber = ddlProj.replace('ddlPro', '');

            $.ajax({
                type: "GET",
                url: "/Activity/GetGeneral",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#ddlAct" + rowNumber).empty();
                    $.each(data, function () {
                        $('#ddlAct' + rowNumber).append($("<option></option>").val(this.id).html(this.name));
                    });
                },
                failure: function (response) {
                    console.log(response);
                }
            });

        }

    }

    function ddlProjChange(ddlProj) {

        var rowNumber = ddlProj.id.replace('ddlPro', '');

        if ($(ddlProj).attr('isPro') == 'true') {
            $.ajax({
                type: "GET",
                url: "/activity/GetUserActivities?projectId=" + $(ddlProj).val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#ddlAct" + rowNumber).empty();
                    $.each(data, function () {
                        $("#ddlAct" + rowNumber).append($("<option></option>").val(this.id).html(this.name));
                    });
                },
                failure: function (response) {
                    console.log(response);
                }
            });
        }
    }

    function deleteRow(btn) {
        xdialog.open({
            title: 'Delete confirmation',
            body: 'Are you sure you want to delete current timesheet activity ?',
            buttons: ['delete', 'cancel'],
            style: 'min-width:38em;',
            oncancel: function (param) {
                console.info('oncancel', param);
            },
            ondelete: function (param) {
                if ($(btn).parent().parent().prev(".seper").length == 0) {
                    $(btn).parent().parent().next(".seper").remove();
                }
                else {
                    $(btn).parent().parent().prev(".seper").remove();
                }

                $(btn).parent().parent().remove();
                totalHours();
            }
        });
    }

    function saveTimeSheet(statusId) {

        var activities = [];

        var rowId = 1;
        $('.tsRow').each(function () {

            var activity = {
                sun: $(this).find('.ST .sun')[0].value,
                mon: $(this).find('.ST .mon')[0].value,
                tu: $(this).find('.ST .tu')[0].value,
                we: $(this).find('.ST .we')[0].value,
                th: $(this).find('.ST .th')[0].value,
                fri: $(this).find('.ST .fri')[0].value,
                sat: $(this).find('.ST .sat')[0].value,
                sunOver: $(this).find('.OT .sun')[0].value,
                monOver: $(this).find('.OT .mon')[0].value,
                tuOver: $(this).find('.OT .tu')[0].value,
                weOver: $(this).find('.OT .we')[0].value,
                thOver: $(this).find('.OT .th')[0].value,
                friOver: $(this).find('.OT .fri')[0].value,
                satOver: $(this).find('.OT .sat')[0].value,
                timeSheetId: $('#ddlTimeSheets').val(),
                activityId: $('#ddlAct' + rowId).val(),
                comments: $('#txtComment' + rowId).val(),
                opportunityId: $('#txtOpportunityId' + rowId).val()
            }
            activities.push(activity);
            rowId += 1;
        });

        if (statusId == 1) {
            xdialog.startSpin();
            $.ajax({
                type: "POST",
                url: "/timesheet/SaveSheetActivities",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(activities),
                dataType: "json",
                success: function (data) {
                    xdialog.stopSpin();
                    xdialog.open({
                        title: 'Information',
                        body: 'Your time sheet saved.',
                        buttons: ['ok'],
                        style: 'min-width:38em;',
                        onok: function (param) {
                        }
                    });
                },
                failure: function (response) {
                    xdialog.stopSpin();
                    console.log(response);
                }
            });
        }
        else if (statusId == 2) {
            if ($('#status') != undefined) {
                if ($('#status').html() != undefined) {
                    if ($('#status').html().includes('Rejected')) {
                        xdialog.open({
                            title: 'Submit TimeSheet',
                            body: 'Are you sure you want to submit your timesheet?',
                            buttons: ['ok', 'cancel'],
                            style: 'min-width:38em;',
                            onok: function (param) {
                                xdialog.startSpin();

                                $.ajax({
                                    type: "POST",
                                    url: "/timesheet/ResubmitSheetActivities",
                                    contentType: "application/json; charset=utf-8",
                                    data: JSON.stringify(activities),
                                    dataType: "json",
                                    success: function (data) {
                                        xdialog.stopSpin();
                                        xdialog.open({
                                            title: 'Information',
                                            body: 'Your timesheet submitted to your managers.',
                                            buttons: ['ok'],
                                            style: 'min-width:38em;',
                                            onok: function (param) {
                                                $('#ddlTimeSheets').empty();
                                                loadSheets();
                                            }
                                        });
                                    },
                                    failure: function (response) {
                                        console.log(response);
                                    }
                                });
                            }
                        });
                    }
                }
                else {
                    xdialog.open({
                        title: 'Submit TimeSheet',
                        body: 'Are you sure you want to submit your timesheet?',
                        buttons: ['ok', 'cancel'],
                        style: 'min-width:38em;',
                        onok: function (param) {
                            xdialog.startSpin();

                            $.ajax({
                                type: "POST",
                                url: "/timesheet/SubmitSheetActivities",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(activities),
                                dataType: "json",
                                success: function (data) {
                                    xdialog.stopSpin();

                                    xdialog.open({
                                        title: 'Information',
                                        body: 'Your timesheet submitted to your managers.',
                                        buttons: ['ok'],
                                        style: 'min-width:38em;',
                                        onok: function (param) {
                                            $('#ddlTimeSheets').empty();
                                            loadSheets();
                                        }
                                    });
                                },
                                failure: function (response) {
                                    console.log(response);
                                }
                            });
                        }
                    });
                }
            }
        }
    }

    Date.prototype.formatMMDDYYYY = function () {
        return this.getDate() +
            "-" + (this.getMonth() + 1) +
            "-" + this.getFullYear();
    }

    function validateHours(evt) {
        return digitKeyOnly(evt);
    }

    function digitKeyOnly(e) {
        console.log($(e));
        var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
        var value = Number(e.key);
        console.log(value);

        if ((keyCode >= 37 && keyCode <= 40) || (keyCode == 8 || keyCode == 9 || keyCode == 13) || (keyCode >= 48 && keyCode <= 57)) {
            console.log('is');
            var isValidDigit = isValidNumber(value);
            if (e.target.value > 9) {
                isValidDigit = false;
            }

            var total = 0;

            $('.ST .' + $(e.target).attr('class').split(' ')[1]).each(function () {
                console.log(this);
                if (this != e.target) {
                    total += Number($(this).val());
                }
            });
            if (isValidDigit) {
                if ($(e.target).parents('.OT').length == 0) {
                    total += value;
                    console.log(total);
                    console.log('valid total ' + total);
                    if (total > 9) {
                        e.target.preventDefault;
                        isValidDigit = false;
                        xdialog.open({
                            title: 'Validation error',
                            body: 'Standartd time can not exceed 9 hours!',
                            buttons: ['ok'],
                            style: 'min-width:38em;',
                            onok: function (param) {
                            }
                        });
                    }
                    else {
                        isValidDigit = true;
                    }
                }
            }
            return isValidDigit;
        }
        return false;
    }

    function isValidNumber(number) {
        return (1 <= number && number <= 9)
    }

    function totalHours() {
        var total = 0;
        $('.ST .sun').each(function () {
            console.log($(this).text());
            total += Number($(this).val());
        });
        $('.OT .sun').each(function () {
            total += Number($(this).val());
        });
        $('.sunTotal').val(total);
        $('.sunTotal').attr('style', 'font-weight:bold;');

        var total = 0;
        $('.ST .mon').each(function () {
            total += Number($(this).val());
        });
        $('.OT .mon').each(function () {
            total += Number($(this).val());
        });
        $('.monTotal').val(total);
        $('.monTotal').attr('style', 'font-weight:bold;');

        var total = 0;
        $('.ST .tu').each(function () {
            total += Number($(this).val());
        });
        $('.OT .tu').each(function () {
            total += Number($(this).val());
        });
        $('.tuTotal').val(total);
        $('.tuTotal').attr('style', 'font-weight:bold;');

        var total = 0;
        $('.ST .we').each(function () {
            total += Number($(this).val());
        });
        $('.OT .we').each(function () {
            total += Number($(this).val());
        });
        $('.weTotal').val(total);
        $('.weTotal').attr('style', 'font-weight:bold;');


        var total = 0;
        $('.ST .th').each(function () {
            total += Number($(this).val());
        });
        $('.OT .th').each(function () {
            total += Number($(this).val());
        });
        $('.thTotal').val(total);
        $('.thTotal').attr('style', 'font-weight:bold;');

        var total = 0;
        $('.ST .fri').each(function () {
            total += Number($(this).val());
        });
        $('.OT .fri').each(function () {
            total += Number($(this).val());
        });
        $('.friTotal').val(total);
        $('.friTotal').attr('style', 'font-weight:bold;');

        var total = 0;
        $('.ST .sat').each(function () {
            total += Number($(this).val());
        });
        $('.OT .sat').each(function () {
            total += Number($(this).val());
        });
        $('.satTotal').val(total);
        $('.satTotal').attr('style', 'font-weight:bold;');

    }
</script>
<style>
    .time-cell {
        width: 58px;
        margin: 10px 10px 10px 10px;
    }

    .time-cell-total {
        width: 58px;
        margin: 10px 10px 10px 10px;
    }

    .seper {
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
</style>